<% layout('boilerplate') %>
<div id="mySidenav" class="sidenav">
  <!-- <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a> -->
  <a href="/update">Update Profile</a>
  <a href="#">Quizzes</a>
  <a href="#">Edit Profile</a>
  <a href="#">Contact</a>
</div>

<div class="main container">
    <div class="row">
        <div class="imgheader">
            <h1> <%=: user.username | capitalize %> </h1>
        </div>
        <div>
            <img src="/uploads/<%= user.profile.photopath %>" alt="profile picture"
            class="img-circle img-responsive">
        </div>
            <h3> Email: <%= user.email %> </h3>
            <h3> Phone: <%= user.phone %> </h3>
            <h3> Age: <%= user.profile.age %> </h3>
    </div>
</div>
